#app {
    background-image: url("../img/Tiara.jpg");
    background-size: cover;
    height: 100vh;
}

#appx {
    background-color: rgba(7, 29, 153, 0.1);
    height: 100vh;
}

.glass {
    /* color: white; */
    padding: 10px;

    /* From https://css.glass */
    background: rgba(155, 116, 241, 0.06);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.3px);
    -webkit-backdrop-filter: blur(2.3px);
    border: 1px solid rgba(155, 116, 241, 0.42);
}
